<nav-bar-printer>

</nav-bar-printer>

<!--see method setCurrentFilter() from PrintController to see how is handled which element is visible-->
<agreement-filters ng-show="currentFilter == 'agreement-filters' ">

</agreement-filters >



<machine-filters ng-show="currentFilter == 'machine-filters' ">

</machine-filters>

<customer-filters ng-show="currentFilter == 'customer-filters' ">

</customer-filters>

<table-builder>

</table-builder>

<br/>
<br/>
<br/>
<div style="clear: both"></div>


<div class="container " ng-show="false">
    <div class="row">
        <div class="col-xs-6 print-header">
             <div>
                 <div class="caption">Report name</div>

                 <div class="val">Customer bla bla bla bla bla bla blaa bla bla bla bla bla bla blaa bla bla bla bla bla bla blaa bla bla bla bla bla bla blaa </div>
             </div>
             <div>
                 <div class="caption">Report name</div>
                 <div class="val">Customer bla bla bla bla bla bla blaa </div>

             </div>
             <div>
                 <div class="caption">Report name</div>
                 <div class="val">Customer bla bla bla bla bla bla blaa </div>


             </div>
        </div>
        <div class="col-xs-6 print-header">
            <div>
                <div class="caption">Report name</div>

                <div class="val">Customer bla bla bla bla bla bla blaa bla bla bla bla bla bla blaa bla bla bla bla bla bla blaa bla bla bla bla bla bla blaa </div>
            </div>
            <div>
                <div class="caption">Report name</div>
                <div class="val">Customer bla bla bla bla bla bla blaa </div>
            </div>
            <div>
                <div class="caption">Report name</div>
                <div class="val">Customer bla bla bla bla bla bla blaa </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table print">

            <thead>
                <tr>
                    <th>
                        Request No.
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        Machine
                    </th>
                    <th>
                        Agreement
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        125848/2015
                    </td>
                    <td>
                        Komercijalna banka
                    </td>
                    <td>
                        05684614
                    </td>
                    <td>
                        156/145
                    </td>
                </tr>
                <tr>
                    <td>
                        125848/2015
                    </td>
                    <td>
                        Komercijalna banka
                    </td>
                    <td>
                        05684614
                    </td>
                    <td>
                        156/145
                    </td>
                </tr>
                <tr>
                    <td>
                        125848/2015
                    </td>
                    <td>
                        Komercijalna banka
                    </td>
                    <td>
                        05684614
                    </td>
                    <td>
                        156/145
                    </td>
                </tr>
                <tr>
                    <td>
                        125848/2015
                    </td>
                    <td>
                        Komercijalna banka
                    </td>
                    <td>
                        05684614
                    </td>
                    <td>
                        156/145
                    </td>
                </tr>
                <tr>
                    <td>
                        125848/2015
                    </td>
                    <td>
                        Komercijalna banka
                    </td>
                    <td>
                        05684614
                    </td>
                    <td>
                        156/145
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    body{
        background-color: #F2F2F2;
    }
    .print-header{
        color: #16a085;
    }
    .print-header .caption{
        width: 100px;
        float: left;
        clear: both;
    }
    .print-header .val{
        float: left;
        max-width: 200px;
    }
    .table.print{
        color: #16a085;
    }
</style>