<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
        <form role="form">
            <div class="form-group">
                <input type="email" placeholder="Email" class="form-control" ng-model="user.email">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" ng-model="user.password">
            </div>
            <div class="form-group">
                <button class="btn btn-success pull-right" value="Submit" ng-click="signup(user)">Sign up</button>
                <a style="cursor: pointer" ng-click="signupVisible = !signupVisible">Already member? Sign in</a>
            </div>
        </form>
    </div>
    <div class="col-md-5"></div>
</div>