<div class="container-fluid noprint" ng-show="searchCriteria.searchFor!=null">
    <h4>Table column configurator</h4>
    <div class="row">
        <div class="col-xs-12 " >
            <div class="panel-group" id="column-configurator">
                <div class="entity-columns">
                    <div ng-repeat="item in tableConfig">
                        <a  data-toggle="collapse" data-parent="#column-configurator" href="#columns-{{item._id}}" target="_self" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 entity-name" >
                            {{item.name}}
                        </a>
                        <div  class="col-xs-12 ">
                            <div id="columns-{{item._id}}" class="columns-container columns col-xs-12 col-sm-12 col-md-4 col-lg-4 panel-collapse collapse" >
                                <ul class="list-group" >
                                    <li ng-repeat="col in item.columns" class="list-group-item ">
                                        <a class="">{{col.display_name}}</a>
                                        <div class="">
                                            <a href="" ng-click="toggleColumnConfig(col)" class="sub-set-on-off pull-right ">
                                                <i class="fa fa-check lg " ng-show="col.include"></i>
                                                <i class="fa fa-square-o choff lg" ng-show="!col.include"></i>
                                            </a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<style>
    .entity-columns{
        margin-left: 0px;
    }
/*copy from nav-bar-printer.html*/
    .sub-set-on-off{
        margin-top: -23px;
        margin-right: 8px;
        font-size: 16px;
        color: #34383c;
    }
    .entity-name{
        padding: 8px;
        color: #34383c;
    }
    .entity-columns a:hover {
        text-decoration: none;
    }
    .columns-container{
        padding-left: 0px;
    }
</style>